<!DOCTYPE html>
<html>
  <head>
    <title>AvatarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/client_users/header' %>

    <%= yield %>
    
    <%= render partial: 'layouts/client_users/footer' %>

  </body>
</html>
